@import '~app/assets/stylesheets/variables.scss';

.salaryResultBalanceContainer {
  color: $white;
}

.enarningsContent {
  background-color: $super-blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.result {
  background-color: $light-blue;
  padding-top: 10px;
  padding-bottom: 10px;
}
